

.hero-dv{
    background-color: #F1F3FF;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.ins-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 5rem;
    
}
.ins-item{
    margin: 2rem;
}

.coba{
    height: 100px;
}

.cobi{
    width: 520px;
}


.time {
    background: rgb(255,0,0);
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 3px;
    padding: 0.3rem;
}

.instruct-cont {
    width: 530px;
    font-family: Arial, Helvetica, sans-serif;
}

.Tabs-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tabs {
    cursor: pointer;
}
.tabs-content {
    margin-top: 16px;
    color: #8A8A8A;
}

.active {
    border-bottom: 2px solid #2bd604;
    background-color: #ffffff;
}

.ins-content{
    margin: 1rem 2rem;
}