.services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}

.services-image {
  width: 80%;
}

.services-content {
  padding: 1rem;
  width: 100%;
}

.services-content h1 {
  font-size: 36px;
  font-weight: 700;
}

.services-content p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
  font-weight: 700;
}

.services-list {
  list-style: none;
  padding: 0;
  padding-left: 1em;
  font-weight: 700;
  line-height: 35px;
}

.services-list li:before {
  content: '\f058';
  font-family: FontAwesome;
  display: inline-block;
  width: 1.3em;
  color: grey;
}

@media only screen and (min-width: 768px) {
  .services-image {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .services-section {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .services-image {
    width: 40%;
  }

  .services-content {
    padding: 1rem;
    width: 50%;
  }
}
