.services-list {
  list-style: none;
  padding: 0;
  padding-left: 1em;
  font-weight: 700;
  line-height: 35px;
}

.services-list li:before {
  content: '\f058';
  font-family: FontAwesome;
  display: inline-block;
  width: 1.3em;
  color: grey;
}

