.success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.ceklis{
    color: #5cb85f;
    padding-bottom: 1.5rem;
}

.ticket-card{
    width: 600px;
    margin: auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.downloadBtn {
    width: 100px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #0D28A6;
    border-radius: 2px;
    color: #0D28A6;
  }

.downloadBtn:hover {
    background: #0D28A6;
    border: 1px solid #0D28A6;
    color: #ffffff;
  }