.detail-section {
  position: relative;
  bottom: 3rem;
}

.detail-list li {
  font-weight: 700;
  font-size: 14px;
  color: #8a8a8a;
}

.card-info {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}

.hero-car-div {
  background-color: #f1f3ff;
  height: 200px;
}
