.ticket-card{
    height: 500px;
    margin: 0 1.5rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.ticket-btn {
    background: #FFFFFF;
    border: 1px solid #0D28A6;
    border-radius: 2px;
    color: #0D28A6;
  }

.ticket-btn:hover {
    background: #0D28A6;
    border: 1px solid #0D28A6;
    color: #ffffff;
  }

  @media only screen and (min-width: 768px) {
    .ticket-card{
        margin: 0 8rem;
    }

}
@media only screen and (min-width: 1024px) {
    .ticket-card{
        margin: 0 15rem;
    }
}
